<% layout("/layouts/boilerplate.ejs") %>
<body>
    <h3>All Data</h3>
    <ul>
        <% for(let data of allData){ %>
            <li>
                <a href="/data/<%= data._id %>">
                    <%= data.text %>
                </a>
            </li>
        <% } %>
        
    </ul>
</body>