<% layout("/layouts/boilerplate.ejs") %>
<body>
    <h3>All Data</h3>
    <ul>
        <% for(let data of allData){ %>
            <li>
                <a href="/home/<%= data._id %>">
                    <%= data.text %>
                </a>
            </li>
        <% } %>
    </ul>
    
    <form method="GET" action="/home/new">
        <button  class="btn btn-success">add new thought</button>
    </form>
    <br>
</body>