<% layout("/layouts/boilerplate.ejs") %>
<body>
    <h3>Add new thought:</h3>

    <div class="container">
        <div class="form-container">
          <h2 class="form-title">🧠 Daily Mental Health Journal</h2>
          <form method="post" action="/home">

             <!-- user Input -->
             <div class="mb-3">
              <label for="userInput" class="form-label">User Name</label>
              <input name="data[user]" class="form-control" id="userInput" placeholder="username" required type="text">
            </div>
            
            <!-- Thought Input -->
            <div class="mb-3">
              <label for="thoughtInput" class="form-label">Your Thought</label>
              <textarea name="data[text]" class="form-control" id="thoughtInput" rows="4" placeholder="Write your thoughts here..." required></textarea>
            </div>
      
            <!-- Sentiment -->
            <div class="mb-3">
              <label class="form-label d-block">Sentiment</label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="data[sentiment]" id="positive" value="positive" required>
                <label class="form-check-label" for="positive">😊 Positive</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="data[sentiment]" id="negative" value="negative">
                <label class="form-check-label" for="negative">😞 Negative</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="data[sentiment]" id="neutral" value="neutral">
                <label class="form-check-label" for="neutral"> neutral</label>
              </div>
            </div>
      
            <!-- Date -->
            <div class="mb-3">
              <label for="dateInput" class="form-label">Date</label>
              <input name="data[date]" type="date" class="form-control" id="dateInput" required>
            </div>
      
            <!-- Submit -->
            <div class="d-grid">
              <button class="btn btn-success" type="submit">Submit Entry</button>
            </div>
      
          </form>
        </div>
      </div>

</body>