.articles-grid {
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    align-items: stretch; /* equal height for all */
  }
  .btn{
    padding: 20px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }